.about-me-outline {
  padding: 5rem;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}
.portrait {
  height: 350px;
  width: 350px;
}

.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-bottom: 100px;
}

.about-hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1000px;
}

.portrait-div {
  display: flex;
  justify-content: center;
}

/* my skills */
.my-skills {
  padding-bottom: 80px;
  border-bottom: 1px solid var(--border-color);
}
.my-skills-stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.my-skills-stack-section {
  border: 5px solid var(--secondary-color);
  height: 230px;
  width: max-content;
  border-radius: 20px;
  padding: 30px;
}

.my-skills-stack-section div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
}

.my-experience,
.my-education {
  padding-bottom: 80px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-experience-stack,
.my-education-stack {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 20px;
  gap: 20px;
}

.my-experience-stack-header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .about-me-outline {
    padding: 0 60px;
  }
  .about-hero {
    flex-direction: column;
    gap: 50px;
  }
  .my-skills-stack-section {
    width: auto;
  }
}

@media (max-width: 960px) {
  .button-stack {
    margin-top: 20px;
  }

  .my-experience,
  .my-education {
    flex-direction: column;
  }
  .my-experience-stack,
  .my-education-stack {
    width: auto;
  }
}

@media (max-width: 750px) {
  .my-experience-stack-header {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .my-skills-stack-section {
    height: max-content;
    width: max-content;
    padding: 30px;
  }
}
