.home-outline {
  padding: 0 10rem;
  margin: 0 auto;
}

.hero {
  min-height: 40em;
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 65px;
  margin: 0 auto;
}

.hero-left {
  position: relative;
}

.hero-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.button-stack {
  margin-top: 60px;
  display: flex;
  align-items: left;
  gap: 20px;
}

.portrait {
  border-radius: 50%;
  border: 5px solid var(--secondary-color);
}

@media (max-width: 1200px) {
  .home-outline {
    padding: 0 60px;
  }
}

@media (max-width: 960px) {
  .home-outline {
    padding: 0 1rem;
  }

  .hero {
    flex-direction: column;
    gap: 30px;
    min-height: 60vh;
  }

  .portrait {
    height: 15rem;
  }

  .button-stack {
    margin-top: 20px;
  }

  .hero h1 {
    font-size: 4rem;
  }
}

/* Featured Projects */
.featured-projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
  padding: 80px 0;
}

.featured-projects-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 960px) {
  .featured-projects {
    align-items: center;
  }
}

/* about me */
.about {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-title {
  width: 700px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 960px) {
  .about-title {
    width: 100%;
    padding: 0 1rem;
  }
}

/* change the project flex direction to row in very large screen */
@media (min-width: 1500px) {
  .hero {
    min-height: 20rem;
  }
  .home-outline {
    padding: 0 5rem;
  }

  .featured-projects-stack {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
