*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Bebas Neue", sans-serif;
  color: #c7c7c7;
  background-color: #0a0a0a;

  line-height: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #0a0a0a;
  --secondary-color: #d3e97a;
  --background-color: #0a0a0a;
  --text-color: #c7c7c7;
  --gray-color: #222222;
  --border-color: #484848;
}

body {
  min-width: 320px;
  min-height: 100vh;
  /* overflow-x: hidden; */
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}
